<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <%- include("./templateStud") %>
        <div class="maincontainer">
            <%- include("partials/title",{title:"CHANGE PASSWORD"}) %>
                <% if(show){ %>
                    <div class="alert alert-<%=type%>" role="alert">
                        <%= msg %>
                    </div>
                    <%}%>
                        <form class="profilecontainer form-control form-control-sm" style="width: 300px;"
                            action="/updateStud/changepswd_student" method="POST">
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Current Password</label>
                                <input name="ppswd" type="password" class="form-control" id="exampleInputPassword1"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">New Password</label>
                                <input type="password" name="pswd" class="form-control" id="exampleInputPassword1"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label"> Confirm Password</label>
                                <input type="password" name="cpswd" class="form-control" id="exampleInputPassword1"
                                    required>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
        </div>
        <%- include('./footer_log') %>
            </body>

</html>