<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <%- include("templateRecr") %>

    <style>
      .timeline {
        border-left: 3px solid #727cf5;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        background: rgba(114, 124, 245, 0.09);
        margin: 0 auto;
        letter-spacing: 0.2px;
        position: relative;
        line-height: 1.4em;
        font-size: 1.03em;
        padding: 50px;
        list-style: none;
        text-align: left;
        max-width: 40%;
      }

      @media (max-width: 767px) {
        .timeline {
          max-width: 98%;
          padding: 25px;
        }
      }

      .timeline h1 {
        font-weight: 300;
        font-size: 1.4em;
      }

      .timeline h2,
      .timeline h3 {
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 10px;
      }

      .timeline .event {
        border-bottom: 1px dashed #e8ebf1;
        padding-bottom: 25px;
        margin-bottom: 25px;
        position: relative;
      }

      @media (max-width: 767px) {
        .timeline .event {
          padding-top: 30px;
        }
      }

      .timeline .event:last-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
      }

      .timeline .event:before,
      .timeline .event:after {
        position: absolute;
        display: block;
        top: 0;
      }

      .timeline .event:before {
        left: -207px;
        content: attr(data-date);
        text-align: right;
        font-weight: 100;
        font-size: 0.9em;
        min-width: 120px;
      }

      @media (max-width: 767px) {
        .timeline .event:before {
          left: 0px;
          text-align: left;
        }
      }

      .timeline .event:after {
        -webkit-box-shadow: 0 0 0 3px #727cf5;
        box-shadow: 0 0 0 3px #727cf5;
        left: -55.8px;
        background: #fff;
        border-radius: 50%;
        height: 9px;
        width: 9px;
        content: "";
        top: 5px;
      }

      @media (max-width: 767px) {
        .timeline .event:after {
          left: -31.8px;
        }
      }

      .rtl .timeline {
        border-left: 0;
        text-align: right;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        border-right: 3px solid #727cf5;
      }

      .rtl .timeline .event::before {
        left: 0;
        right: -170px;
      }

      .rtl .timeline .event::after {
        left: 0;
        right: -55.8px;
      }
    </style>

    <div class="maincontainer">
      <div class="container">
        <div id="companyName" class="container d-flex align-items-center justify-content-center">
          <h1>
            <%= drive.companyName %>
          </h1>
        </div>
        <%- include("partials/title",{title:"Manage Drive"}) %>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title">Timeline</h6>
                    <div id="content">
                      <ul class="timeline">
                        <% if(drive.rounds.length===0) {%>
                          <div>
                            No Rounds Yet. Create One ..
                          </div>
                          <% } else {%>
                            <% for(var i=0;i<drive.rounds.length;i++){let
                              dateArray=drive.rounds[i].timeSlot.toString().split(" ");let date = dateArray[0]+ " "+ dateArray[1]+ " "+dateArray[2]; %>

                    <li class=" event" data-date="<%= date %>">
                              <h3>
                                <%= drive.rounds[i].roundName %>
                              </h3>
                              <p>
                                Result Announced : <%= drive.rounds[i].announced %><br>
                                  Start Time : <%= drive.rounds[i].timeSlot.toLocaleTimeString() %>
                                    <br>
                                    Duration : <%= drive.rounds[i].duration %>
                                      <br>

                                      <!-- Modals -->
                                      <div class="modal fade" id="suggestTimeModal" aria-hidden="true"
                                        aria-labelledby="addDriveModalLabel" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h1 class="modal-title fs-5" id="addDriveModalLabel">Request Change</h1>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              <form method="post" id="suggestform<%= i %>"
                                                action="/auth/add_drive_event">
                                                <input name="id" value="<%= drive._id %>" style="display: none;"
                                                  required>
                                                <div class="mb-3">
                                                  <label for="rondName" class="form-label">Round Name</label>
                                                  <input name="roundName" type="text" class="form-control"
                                                    id="roundName" required>
                                                </div>
                                                <div class="mb-3">
                                                  <label for="datetime-local" class="form-label">Date and Time</label>
                                                  <input name="datetime" type="datetime-local" class="form-control"
                                                    id="datetime" required>
                                                </div>
                                                <!-- <div class="mb-3">
                                            <label for="time" class="form-label">Start Time</label>
                                            <input name="time" type="time" class="form-control" id="time" required>
                                        </div> -->
                                                <div class="mb-3">
                                                  <label for="duration" class="form-label">Duration (In Minutes)</label>
                                                  <input name="duration" type="number" min="0" class="form-control"
                                                    id="duration" required>
                                                </div>



                                            </div>
                                            <div class="modal-footer">
                                              <button type="submit" onclick="sendMessage('suggestform'+'<%= i %>')"
                                                class="btn btn-primary">Submit</button>
                                              </form>
                                              <script>
                                                function sendMessage(id) {
                                                  const el = document.getElementById(id);

                                                  alert("Message Sent." + id);
                                                }
                                              </script>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <a class="btn btn-primary" data-bs-toggle="modal" href="/auth/msgPage"
                                        onclick="location.href='/auth/msgPage'" role="button">Suggest Time</a>

                                      <% if(drive.rounds[i].announced) {%>
                                        <a href="/auth/shortlisted_candidates">
                                          <button>
                                            Shortlisted List
                                          </button>
                                        </a>
                                        <% }%>
                              </p>
                              </li>
                              <% } %>
                                <% } %>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>


      </div>

    </div>
    </div>
    <%- include('./footer_log') %>
      </body>

</html>